{% extends 'base.html' %}

{% block content %}
<h1 role="banner">Curating the Curators</h1>

<section class="feed">
    <h1>Storify &mdash; Popular</h1>
    <ol>
        <li data-key="4f29bb7a0421b36e076522ef">
            <a href="http://storify.com/curious_scribe/egyptian-football-riots">
                <h2>Egyptian football riots</h2>
                <p>Views: 45678</p>
            </a>
        </li>
    </ol>
</section>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ STATIC_URL }}js/curate.js"></script>
{% endblock scripts %}
