{% extends 'base.html' %}

{% block content %}
<header role="banner">
    <h1>Curating the Curators</h1>
</header>
{% for feed in feeds %}
{% if feed.title and feed.stories %}
<section class="feed">
    <header>
        <h1>{{ feed.title }}</h1>
    </header>
    <ol>
        {% for story in feed.stories %}
        <li data-key="{{ story.key }}" style="background-image:url({{ story.thumbnail }});">
            <a href="{{ story.permalink }}">
                <h2>{{ story.title }}</h2>
            </a>
        </li>
        {% endfor %}
    </ol>
</section>
{% endif %}
{% endfor %}
{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ STATIC_URL }}js/curators.js"></script>
{% endblock scripts %}
