body {
    background: #222 url(/static/img/tactile_noise.gif) repeat;
    color: #dedede;
    font: 400 16px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:visited, a:active, a:hover {
    color: #fff;
    text-decoration: none;
}

h1 {
    font-family: Merriweather, serif;
}

[role="banner"] {
    color: #55b705;
    font-size: 36px;
    font-weight: 900;
    margin: 3% 0;
    text-transform: lowercase;
}

[role="banner"] .light {
    color: #fff;
    font-weight: 400;
}

[role="main"] {
    margin: 2%;
}

.feed {
    float: left;
    margin-right: 2%;
    position: relative;
    width: 30%;
}

.feed header {
    margin-bottom: 5px;
}

.feed header h1 {
    color: #999;
    font-size: 20px;
    margin-bottom: 5%;
}

.feed li {
    background-color: rgba(0,0,0,.3);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", Arial, sans-serif;
    height: 90px;
    margin-bottom: 3%;
    position: relative;
}

.feed li:hover {
    box-shadow: 0 0 8px rgba(255,255,255,0.5);
}

.feed a {
    display: block;
    height: 100%;
    width: 100%;
}

.feed li h2 {
    background-color: rgba(0,0,0,.75);
    max-width: 90%;
    padding: 2%;
    position: absolute;
    left: 0; top: 15%;
}

.ajax-loader {
    background-image: url(/static/img/ajax-loader.gif);
    display: block;
    height: 16px;
    float: right;
    position: absolute;
    right: 0; top: 0;
    text-indent: -9999px;
    width: 16px;
}