<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Dashboard | Curating the Curators{% endblock title %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/curate.css">
    {% endblock stylesheets %}
</head>
<body>
    <div role="main">
        {% block content %}{% endblock content %}
    </div>
    {% block scripts %}
    <script src="{{ STATIC_URL }}js/lib/jquery-1.7.1.min.js"></script>
    {% endblock scripts %}
</body>
</html>